----------------------------------------------------------

▀▄    ▄  ▄▀  ██▄   █▄▄▄▄ ██      ▄▄▄▄▄    ▄▄▄▄▄   ▄█ █     
  █  █ ▄▀    █  █  █  ▄▀ █ █    █     ▀▄ █     ▀▄ ██ █     
   ▀█  █ ▀▄  █   █ █▀▀▌  █▄▄█ ▄  ▀▀▀▀▄ ▄  ▀▀▀▀▄   ██ █     
   █   █   █ █  █  █  █  █  █  ▀▄▄▄▄▀   ▀▄▄▄▄▀    ▐█ ███▄  
 ▄▀     ███  ███▀    █      █                      ▐     ▀ 
                    ▀      █                               
                          ▀
-----------------------------------------------------------
                Where everything lives
-----------------------------------------------------------
Host: {{ ansible_fqdn }}
IP: {{ ansible_default_ipv4.address }}
Cluster role: {{ kubernetes_role }}
-----------------------------------------------------------
Unauthorized access is strictly forbidden. Handle with care
-----------------------------------------------------------