---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aeneaai
spec:
  selector:
    matchLabels:
      app: aeneaai
  template:
    metadata:
      labels:
        app: aeneaai
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: aeneaai
          image: elautoestopista/aeneaai:{{ aeneaai_version | default('latest', true) }}
          imagePullPolicy: Always
