---
apiVersion: v1
kind: Secret
metadata:
  name: aeneatoken
type: Opaque
data:
  token: {{ aenea_token }}
--- 
apiVersion: v1
kind: PersistentVolume
metadata: 
  name: aenea-db-pv
spec: 
  accessModes: 
    - ReadWriteOnce
  capacity: 
    storage: 2Gi
  hostPath: 
    path: /mnt/pvs
  storageClassName: local-storage
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: aenea-db-pvc
spec: 
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 2Gi
  storageClassName: local-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aeneabot
spec:
  selector:
    matchLabels:
      app: aeneabot
  template:
    metadata:
      labels:
        app: aeneabot
    spec:
      containers:
      - name: aeneabot
        image: elautoestopista/aeneabot:{{ aenea_version | default('latest', true) }}
        volumeMounts:
          - name: aenea-db
            mountPath: {{ aenea_dbpath | default('/var/aenea-db', true) }}      
        env:
        - name: BOTNAME
          value: {{ aenea_botname }}
        - name: AUTHUSER
          value: {{ aenea_authuser }}
        - name: LANG
          value: {{ aenea_lang }}
        - name: DB_PATH
          value: {{ aenea_dbpath | default('/var/aenea-db', true) }}
        - name: LOGLEVEL
          value: {{ aenea_loglevel| default('INFO', true) }}
        - name: TOKEN
          valueFrom:
            secretKeyRef:
              name: aeneatoken
              key: token
      volumes:
        - name: aenea-db
          persistentVolumeClaim: 
            claimName: aenea-db-pvc
