---
apiVersion: v1
kind: Secret
metadata:
  name: aeneatoken
type: Opaque
data:
  token: {{ aenea_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: chatgpttoken
type: Opaque
data:
  token: {{ aenea_chatgpt_token }}
--- 
apiVersion: v1
kind: PersistentVolume
metadata: 
  name: aeneabot-pv
spec: 
  accessModes: 
    - ReadWriteOnce
  capacity: 
    storage: 1Gi
  hostPath: 
    path: /mnt/aeneadb
  storageClassName: local-storage
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: aeneabot-pvc
spec: 
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 1Gi
  storageClassName: local-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aenea
spec:
  selector:
    matchLabels:
      app: aenea
  template:
    metadata:
      labels:
        app: aenea
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      containers:
        - name: aeneaai
          image: elautoestopista/aeneaai:{{ aeneaai_version | default('latest', true) }}
          imagePullPolicy: Always
        - name: aeneabot
          image: elautoestopista/aeneabot:{{ aenea_version | default('latest', true) }}
          imagePullPolicy: Always
          env:
          - name: BOTNAME
            value: {{ aenea_botname }}
          - name: AUTHUSER
            value: {{ aenea_authuser }}
          - name: LANG
            value: {{ aenea_lang }}
          - name: LOGLEVEL
            value: {{ aenea_loglevel | default('INFO', true) }}
          - name: AENEADB
            value: {{ aenea_dbpath | default('/sqlite', true) }}
          - name: TOKEN
            valueFrom:
              secretKeyRef:
                name: aeneatoken
                key: token
          - name: OLLAMA_URL
            value: 'http://localhost:11434'
          - name: OLLAMA_MODEL
            value: 'aenea'
          volumeMounts:
            - name: aeneabot-storage
              mountPath: {{ aenea_dbpath | default('dataset', true) }}
      volumes:
        - name: aeneabot-storage
          persistentVolumeClaim: 
            claimName: aeneabot-pvc
