---
apiVersion: v1
kind: Service
metadata:
  name: impostor
spec:
  type: LoadBalancer
  ports:
  - port: 22023
    targetPort: 22023
    protocol: UDP
  selector:
    app: impostor

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: impostor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: impostor
  template:
    metadata:
      labels:
        app: impostor
    spec:
      containers:
        - name: impostor
          image: aeonlucid/impostor:latest
          ports:
            - containerPort: 22023
              protocol: UDP

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: ingress-impostor
  namespace: default
spec:
  entryPoints:
    - impostor-udp
  routes:
  - services:
    - name: impostor
      port: 22023
