apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: jaeger

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-jaeger-tls
  namespace: observability
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`jaeger.ygdrassil.proyectopqmc.com`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: jaeger-query
      port: 16686
  tls:
    certResolver: default