apiVersion: v1
kind: Service
metadata:
  name: jenkins
spec:
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: jenkins

---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: default
  name: jenkins
  labels:
    app: whoami

spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
        - name: jenkins
          image: elautoestopista/jenkins:latest
          env:
            - name: JAVA_OPTS
              value: -Djenkins.install.runSetupWizard=false
          ports:
            - name: http-port
              containerPort: 8080
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
      volumes:
        - name: jenkins-home
          emptyDir: {}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-jenkins-tls
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`cicd.ygdrassil.proyectopqmc.com`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: jenkins
      port: 80
  tls:
    certResolver: default
