---
apiVersion: v1
kind: Secret
metadata:
  name: jenkins-rsa
type: Opaque
data:
  id_rsa: {{ jenkins_rsa | b64encode }}
  config: {{ jenkins_ssh_config | b64encode }}

---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
spec:
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: jenkins

---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: default
  name: jenkins
  labels:
    app: whoami

spec:
  replicas: 1
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
        - name: jenkins
          image: jenkins/jenkins:lts
          env:
            - name: JAVA_OPTS
              value: -Djenkins.install.runSetupWizard=false
          ports:
            - name: http-port
              containerPort: 8080
          volumeMounts:
            - name: jenkins-home
              mountPath: /var/jenkins_home
            - name: jenkins-rsa
              mountPath: "/var/jenkins_home/.ssh"
              readOnly: true
          lifecycle:
            postStart:
              exec:
                command: ["/bin/bash", "-c", "cd /var/jenkins_home && sleep 20 && find . -maxdepth 1 -not -name '.ssh' -not -name '.' -not -name '..' | xargs rm -r -- && git init && git remote add origin git@github.com:SergioFernandezCordero/ygdrassil-jenkins.git && git pull origin master && git branch --set-upstream-to=origin/master master"]
      volumes:
        - name: jenkins-home
          emptyDir: {}
        - name: jenkins-rsa
          secret:
            secretName: jenkins-rsa
            defaultMode: 0400
      securityContext:
        fsGroup: 1000

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-jenkins-tls
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`cicd.ygdrassil.proyectopqmc.com`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: jenkins
      port: 80
  tls:
    certResolver: default
