apiVersion: v1
kind: Service
metadata:
  name: pqmc-web-lb
spec:
  type: LoadBalancer
  ports:
  - port: {{ pqmc_port }}
    targetPort: 80
  selector:
    app: pqmc-web

---
apiVersion: v1
kind: PersistentVolume
metadata: 
  name: pqmc-web-db-pv
spec: 
  accessModes: 
    - ReadWriteOnce
  capacity: 
    storage: 32M
  hostPath: 
    path: /mnt/pqmc-web
  storageClassName: local-storage

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: pqmc-web-db-pvc
spec: 
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 32M
  storageClassName: local-storage

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pqmc-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pqmc-web
  template:
    metadata:
      labels:
        app: pqmc-web
    spec:
      containers:
        - name: pqmc-web
          image: nginx
          ports:
            - containerPort: 80
          env:
            - name: NGINX_HOST
              value: {{ pqmc_url }}
          volumeMounts:
            - name: pqmc-web-db
              mountPath: /usr/share/nginx/html
      volumes:
        - name: pqmc-web-db
          persistentVolumeClaim: 
            claimName: pqmc-web-db-pvc

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-pqmc-tls
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ pqmc_url }}`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: pqmc-web-lb
      port: {{ pqmc_port }}
  tls:
    certResolver: default

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-pqmc
  namespace: default
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`{{ pqmc_url }}`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: pqmc-web-lb
      port: {{ pqmc_port }}
    middlewares:
      - name: redirect-https
        namespace: kube-system

{% if sergio_scheme=="https" %}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: kube-system
spec:
  redirectScheme:
    scheme: https
    permanent: "true"
    port: 443
{% endif %}
