---
apiVersion: v1
kind: Secret
metadata:
  name: raponchi-consumer-key
type: Opaque
data:
  token: {{ raponchi_consumer_key }}
---
apiVersion: v1
kind: Secret
metadata:
  name: raponchi-consumer-secret
type: Opaque
data:
  token: {{ raponchi_consumer_secret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: raponchi-access-token
type: Opaque
data:
  token: {{ raponchi_access_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: raponchi-access-secret
type: Opaque
data:
  token: {{ raponchi_access_secret }}
--- 
apiVersion: v1
kind: PersistentVolume
metadata: 
  name: raponchi-pv
spec: 
  accessModes: 
    - ReadWriteOnce
  capacity: 
    storage: 1Gi
  hostPath: 
    path: /mnt/raponchi
  storageClassName: local-storage
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: raponchi-pvc
spec: 
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 1Gi
  storageClassName: local-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: raponchi
spec:
  selector:
    matchLabels:
      app: raponchi
  template:
    metadata:
      labels:
        app: raponchi
    spec:
      containers:
        - name: raponchi
          image: elautoestopista/raponchi:{{ raponchi_version | default('latest', true) }}
          imagePullPolicy: Always
          securityContext:
            runAsUser: 1001
            runAsGroup: 1001
            fsGroup: 1001   
          env:
          - name: TIMEZONE
            value: "Europe/Berlin"
          - name: FROG_NUMBER
            value: "{{ raponchi_number }}"
          - name: FROG_SCHEDULER_INTERVAL
            value: "{{ raponchi_scheduler_interval }}"
          - name: FROG_SCHEDULER_RUN_NOW
            value: "{{ raponchi_run_now | default('False', true) }}"
          - name: PATH_TO_FROGS
            value: "/opt/raponchi/{{ raponchi_path | default('dataset', true) }}"
          - name: FROG_NAMES_URL
            value: "{{ raponchi_names_url }}"
          - name: LOGLEVEL
            value: "{{ raponchi_loglevel | default('INFO', true) }}"
          - name: TW_CONSUMER_KEY
            valueFrom:
              secretKeyRef:
                name: raponchi-consumer-key
                key: token
          - name: TW_CONSUMER_SECRET
            valueFrom:
              secretKeyRef:
                name: raponchi-consumer-secret
                key: token
          - name: TW_ACCESS_TOKEN
            valueFrom:
              secretKeyRef:
                name: raponchi-access-token
                key: token
          - name: TW_ACCESS_TOKEN_SECRET
            valueFrom:
              secretKeyRef:
                name: raponchi-access-secret
                key: token
          volumeMounts:
            - name: raponchi-storage
              mountPath: /opt/raponchi/{{ raponchi_path | default('dataset', true) }}
      volumes:
        - name: raponchi-storage
          persistentVolumeClaim: 
            claimName: raponchi-pvc
