apiVersion: v1
kind: Service
metadata:
  name: sergio-web-lb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: sergio-web
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sergio-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sergio-web
  template:
    metadata:
      labels:
        app: sergio-web
    spec:
      containers:
      - name: sergio-web
        image: paulbouwer/hello-kubernetes:1.8
        ports:
        - containerPort: 8080
        env:
        - name: MESSAGE
          value: Look at me Morty, I'm a container! Container Rick!

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-sergio-tls
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`sergio.fernandezcordero.net`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: sergio-web-lb
      port: 80
  tls:
    certResolver: default

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-sergio
  namespace: default
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`sergio.fernandezcordero.net`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: sergio-web-lb
      port: 80
    middlewares:
      - name: redirect-https
        namespace: kube-system

---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: kube-system
spec:
  redirectScheme:
    scheme: https
    permanent: "true"
    port: 443
