apiVersion: v1
kind: Service
metadata:
  name: sergio-web-lb
  namespace: sergio
spec:
  type: LoadBalancer
  ports:
  - port: {{ sergio_port }}
    targetPort: 2368
  selector:
    app: sergio-web
--- 
apiVersion: v1
kind: PersistentVolume
metadata: 
  name: sergio-web-db-pv
  namespace: sergio
spec: 
  accessModes: 
    - ReadWriteOnce
  capacity: 
    storage: 2Gi
  hostPath: 
    path: /mnt/sergio-web
  storageClassName: local-storage
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: sergio-web-db-pvc
  namespace: sergio
spec: 
  accessModes: 
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 2Gi
  storageClassName: local-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sergio-web
  namespace: sergio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sergio-web
  template:
    metadata:
      labels:
        app: sergio-web
    spec:
      containers:
        - name: sergio-web
          image: ghost:5.105
          ports:
            - containerPort: 2368
          env:
            - name: url
              value: {{sergio_scheme }}://{{ sergio_url }}
            - name: database__client
              value: sqlite3
            - name: database__connection__filename
              value: "content/data/ghost.db"
            - name: database__useNullAsDefault
              value: "true"
            - name:  database__debug
              value: "false"
          volumeMounts:
            - name: sergio-web-db
              mountPath: /var/lib/ghost/content
      volumes:
        - name: sergio-web-db
          persistentVolumeClaim: 
            claimName: sergio-web-db-pvc

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-sergio-tls
  namespace: sergio
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`{{ sergio_url }}`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: sergio-web-lb
      port: {{ sergio_port }}
  tls:
    certResolver: letsencrypt

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingress-sergio
  namespace: sergio
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`{{ sergio_url }}`) && PathPrefix(`/`)
    kind: Rule
    services:
    - name: sergio-web-lb
      port: {{ sergio_port }}
    middlewares:
      - name: redirect-https
        namespace: sergio

{% if sergio_scheme=="https" %}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: sergio
spec:
  redirectScheme:
    scheme: https
    permanent: true
    port: "443"
{% endif %}
